.header{
    text-align: center;
    background-color:aliceblue;
    padding: 20px;
}

img{
    height: 80%;
    width: 80%;
}

#y-axis{
    height:800px;
    -webkit-writing-mode: vertical-rl;
    text-align: center;
}

#chart-body{
    border-left-style: solid;
    border-bottom-style: solid;
    height: 800px;
}

#bar1{
    background-color: red;
    height:50%;
    border-left-style:solid;
    border-left-color: white;
    border-right-style:solid;
    border-right-color: white;
    border-width:20px;
    position: absolute;
    bottom:0;
}

#bar2{
    background-color: blue;
    height: 10%;
    border-left-style:solid;
    border-left-color: white;
    border-right-style:solid;
    border-right-color: white;
    border-width: 20px;
    position:absolute;
    bottom:0;
    right:0;
}